fastapi
uvicorn
requests
python-dotenv
pandas
numpy
openpyxl
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
PyPDF2
pytesseract
Pillow
xlrd==2.0.1
openpyxl==3.1.2
