fastapi
uvicorn
requests
python-dotenv
pandas
numpy

# Excel
xlrd==2.0.1
openpyxl>=3.1.5

# Google Drive
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Otros
PyPDF2
pytesseract
Pillow
