fastapi
uvicorn
requests

# Google Drive API
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Excel / CSV
pandas
openpyxl

# PDF
PyPDF2

# Imágenes (OCR futuro)
pytesseract
Pillow
